@import "./variables.css";

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-light);
}

h1, h2, h3, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
